* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  /* text */
  --text-dark: #403f3d;
  --text-light: #e1d4c9;
  --text-accent: #b0907a;
  font-family: "Inter", sans-serif;

  /* background */
  --background-body: #e1d4c9;
  --background-container: #665F55;
  --background-backdrop: #403f3dcc;
  /* border */
  --border-light: #c1b6ad;
  --border-dark: #665F55;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
  padding: 20px 0 40px 0;
  overflow-x: hidden;
  font-family: "Inter Tight", sans-serif;
  background-color: var(--background-body);
}
/* ================================FONTS================================ */
.headling-1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
  letter-spacing: 0.04em;
}

.headling-2 {
  font-size: 60px;
  font-weight: 600;
  line-height: 105%;
  letter-spacing: 0.04em;
}

.headling-3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 3px;
}

.accent {
  font-family: "Inter Tight", sans-serif;
  font-style: italic;
}

.medium {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.047em;
}

.caption {
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
}

.link-button {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.038em;
}

/* =======================CONTAINER======================= */
.container {
  width: 1440px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px 0 40px;
  box-sizing: border-box;
}

.container:last-of-type {
  margin-bottom: 0;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* ==========================LOGO========================== */
.logo {
  display: flex;
  position: relative;
  height: 60px;
  width: 100px;
}

.ellipce img {
  position: absolute;
  height: 38px;
  width: 38px;
  top: 6px;
  left: 31px;
  z-index: 1;
}

.resource {
  position: absolute;
  height: 38px;
  width: 38px;
  top: 12px;
  left: 4px;
  z-index: 2;
}

.coffee-house {
  position: absolute;
  height: 38px;
  width: 38px;
  top: 39px;
  left: 17px;
}

/* =======================NAVIGATION======================= */
header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 40px;
}

nav a, button a {
  color: var(--text-dark);
  text-decoration: none;
}

nav ul li .line {
  position: relative;
  top: 4px;
  height: 2px;
  background-color: transparent;
  overflow: hidden;
}

nav ul li .line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  background-color: var(--text-dark);
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

nav ul li:hover .line::before {
  width: 100%;
}

.menu {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  height: 28px;
  width: 72px;
}

.menu_cup {
  display: flex;
  align-items: center;
  gap: 9px;
}

.menu_cup span {
  transform: translateX(15px);
  transition: transform 0.3s ease;
}

.coffee_cup {
  position: relative;
  height: 20px;
  width: 20px;
  object-fit: contain;
}

.line {
  position: relative;
  top: 4px;
  width: 100%;
  height: 2px;
  background-color: transparent;
  overflow: hidden;
}

.menu .line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  background-color: var(--text-dark);
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.menu:hover .line::before {
  width: 100%;
}

/* ===========================HERO=========================== */

#hero {
  position: relative;
  box-sizing: border-box;
  height: 644px;
  padding: 100px;
  border-radius: 40px;
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -99;
}

.offer {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 49%;
  gap: 40px;
}

.hero-text {
  color: var(--text-light);
}

.enjoy {
  color: var(--text-accent);
}

.a_little_space {
  letter-spacing: 2px;
}

.hero-text-2 {
  line-height: 24px;
}

.button-primary {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; 
  height: 64px;
  width: 200px;
  border-radius: 45px;
  background-color: var(--background-body);
}

.button-primary a {
  position: relative;
  top: 3px;
}

.hero_cup {
  opacity: 0;
  visibility: hidden;
  transform: translateX(15px);
  transition: all 0.3s ease;
  position: relative;
  height: 20px;
  width: 20px;
  object-fit: contain;
  top: -2px;
}

.button-primary:hover .hero_cup,
.button-primary:hover .menu_cup span {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
/* ============================MAIN============================ */

.main {
  margin: 0 auto 0 auto;
}

/* ==========================MENU GRID========================== */

.menu-card {
  border: 1px solid var(--border-dark);
  border-radius: 40px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.2s ease;
}

.menu-card:hover .card-img img{
  transform: scale(0.95);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.card-img {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 310px;
  height: 310px;
  border-radius: 40px;
  overflow: hidden;
}

.card-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 196px;
  padding: 20px;
}

.card-name, .card-content-price {
  text-align: left;
  letter-spacing: 0.035em;
  line-height: 115%;
  color: var(--text-dark);
}

.card-description {
  text-align: left;
  letter-spacing: 0.045em;
  line-height: 150%;
  color: var(--text-dark);
}

/* ===========================FOOTER=========================== */

.footer {
  margin: 100px 0 40px 0;
  margin: 0 auto;
}

#contacts{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  gap: 100px;
  height: 450px;
  background-color: var(--background-container);
  border-radius: 40px;
}

.offer,
.contact-us {
  flex: 1;
  flex-direction: column;
  display: flex;
  gap: 40px;
  color: var(--text-light);
}

.offer {
  display: flex;
  flex-direction: column;
}

.footer-text {
  letter-spacing: 0.033em;
  line-height: 125%;
}

.social {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.ring {
  display: flex;
  justify-content: center;
  align-items: center;  
  border: 1px solid var(--border-light);
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.ring a {
  display: flex;
  justify-content: center;
}

.ring:hover {
  background-color: var(--background-body);
}

.ring:hover path {
  stroke: var(--text-dark);
}

.contact-us-text {
  letter-spacing: 0.040em;
}

.contact-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.element-wrapper{
  width: fit-content;
}

.contact-element{
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 10px;
}

.element-text {
  display: flex;
  letter-spacing: 0.035em;
}

.element-wrapper .line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  background-color: var(--text-light);
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.contact-element:hover + .line::before {
  width: 100%;
}
:root {
  /* text */
  --text-dark: #403f3d;
  --text-light: #e1d4c9;
  --text-accent: #b0907a;
  /* background */
  --background-body: #e1d4c9;
  --background-container: #665F55;
  --background-backdrop: #403f3dcc;
  /* border */
  --border-light: #c1b6ad;
  --border-dark: #665F55;
}

/* ========================TEXT========================== */

.fc-text {
  color: var(--text-dark);
}

.accent {
  color: var(--text-accent);
}

/* ========================SLIDER======================== */

.main_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0 0 0;
  padding: 0;
  gap: 100px;
  list-style: none;
}

.carousel-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#favorite-cofee {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 799px;
  width: 100%;
  gap: 40px;
}

.carousel-slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.carousel-track {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#carousel-img {
  width: 480px;
  height: 480px;
  margin-bottom: 40px;
}

#carousel-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 480px;
}

.prev, .next {
  width: 60px;
  height: 60px;
  border: 1px solid var(--border-dark);
  border-radius: 50%;
  background-color: transparent;
}

/* ========================ABOUT======================== */

#about {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-text {
  letter-spacing: 0.036em;
  line-height: 125%;
}

.about-images {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 40px;
}

.img-1, .img-4 {
  height: 590px;
}

.img-2, .img-3 {
  height: 430px;
}

.img-1, .img-2, .img-3, .img-4 {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  border-radius: 20px;
}

.about-images img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.about-images img:hover {
  transform: translate(-50%, -50%) scale(0.9);
  transform-origin: center;
  transition: transform 0.3s ease;
}

/* ==========================MOBILE APP========================== */

#mobile-app {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  gap: 100px;
  height: 630px;
  margin-bottom: 100px;
}

.mobile-app-offer {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 40px;
}

.ma-text-1 {
  letter-spacing: 0.04em;
  line-height: 123%;
  color: var(--text-dark);
}

.ma-text-2 {
  color: var(--text-dark);
  line-height: 150%;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.mobile-button {
  display: flex;
  flex-direction: row;
  height: 64px;
  width: 200px;
  gap: 8px;
  padding:12px 21px;
  border: 1px solid var(--border-dark);
  border-radius: 40px;
}

.app-icon {
  height: 36px;
  width: 36px;
  margin: auto 0;
}

.app-icon path {
  fill: var(--text-dark);
}

.button-text {
  color: var(--text-dark);
}

.app-text {
  letter-spacing: 0.02em;
  line-height: 150%;
}

.app-name {
  letter-spacing: 0.025em;
  line-height: 150%;
}

.mobile-button img {
  color: var(--border-light);
}

.mobile-button:hover {
  background-color: var(--background-container);
}

.mobile-button:hover .button-text{
  color: var(--text-light);
}

.mobile-button:hover .app-icon path{
  fill: var(--text-light);
}

.mobile-screens {
  flex: 1;
}
:root {
  /* text */
  --text-dark: #403f3d;
  --text-light: #e1d4c9;
  --text-accent: #b0907a;
  /* background */
  --background-body: #e1d4c9;
  --background-container: #665F55;
  --background-backdrop: #403f3dcc;
  /* border */
  --border-light: #c1b6ad;
  --border-dark: #665F55;
}
/* ======================MENU====================== */
#menu {

}

.menu_body {
  display: flex;
  justify-content: center;
}

.menu-nav {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 40px;
  width: 100%;
  max-width: 800px;
  text-align: center;
}

.menu-text {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.04em;
  line-height: 125%;
  color: var(--text-dark);
}

.menu-buttons ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}

.menu-buttons a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px 8px 8px;
  gap: 8px;
}

.menu-ring {
  width: 30px;
  height: 30px;
  background-color: var(--border-light);
}

.menu-buttons ul li p.active {
  color: var(--text-light);
}

.menu-ring.active {
  background-color: var(--background-body);
}

.menu-nav ul li .active {
  list-style: none;
  margin: 0;
  background-color: var(--background-container);
  border-radius: 40px;
}

.menu-nav ul li {
  list-style: none;
  margin: 0;
  border: 1px solid var(--border-dark);
  border-radius: 40px;
}

#menu-sheet {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin: 40px 0 100px 0;
}
